* {
    text-align: center;
}

form {
    font-size: xx-large;
}

input {
    width: 200px;
    height: 30px;
}

label {
    padding-right: 20px;
}

.name-input {
    justify-content: space-between;
}